# Ignore, hyokapp folder
hyokapp/__pycache__/*
hyokapp/migrations/__pycache__/*
hyokaproject/__pycache__/*

# Ignore, Images folder
Images/face.*

# Ignore, Settings folder.
.idea/*
.venv/*

# Ignore.
.env
