bakachon
beautifulsoup4
cmake
debugpy
django
dlib
face-recognition
golden-eagle
imutils
japanize-matplotlib
matplotlib
mysqlclient
numpy
opencv-contrib-python
opencv-python
Pillow
python-dotenv
pytk
requests
setuptools<81.0
tqdm
twine
wheel
