{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <title>{{title}}</title>
</head>
<body>
    <div class="center-position">
      {% if not check %}
        <div class="font-magenta">
          <p><h1>{{ failed }}</h1></p>
        </div>
      {% else %}
      {% block content %}
        <div class="font-aqua">
          <p><h1>{{ check }}</h1></p>
        </div>
      {% endblock %}
      {% endif %}
    </div>
</body>
</html>